.row {
  display: flex;
}

.box {
  flex: auto;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-opacity: 0.1;
  aspect-ratio: 1;
}

#grid {
  display: flex;
  flex-direction: column;
  width: 600px;
}